/*
    ==============================================
                ****** RESET ******
    ==============================================
*/
body {
  margin: 0 ;
  background-color: tomato;
}

:root {
  --color-red: #f42;
  --bg-color-red: #f42;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button {
  background-color: #f42;
  color: white;
  border: none;
  margin: 2px;
  padding: 2px;
  border-radius: 3px;
}
td {
  padding: 5px;
}

/*
    ==============================================
                ****** GLOBAL ******
    ==============================================
*/

#displayBooks {
  min-width: 500px;
  border: 3px solid black;
  margin: 0 auto;
}

.main-container{
  text-align: center;
}

hr.small-line {
  width: 100px;
  margin: 10px auto;
  border-top: 2px solid black;
  opacity: 1;
}

.bookForm {
  position: relative;
  padding-bottom: 20px;
  max-width: 400px;
  margin: 0 auto;
}

#title, #author {
  width: 100%;
  margin: 3px 0px 3px 0px;
  padding: 1px 8px;
}

#add {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 1px 8px ;
  background-color: green;
  color: white;
}
